<div>
  <div>
    <h1>
      List of all apartments
    </h1>
  </div>
</div>

<hr>

<%if @current_user != NULL %>
<div>
  <div>
    <h2>
      Add a new apartment
    </h2>

    <form action="/insert_apartment" method="post">
      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="num_bath_box">
          Num bath
        </label>

        <input type="text" id="num_bath_box" name="query_num_bath">
      </div>

      <div>
        <label for="num_bdrms_box">
          Num bdrms
        </label>

        <input type="text" id="num_bdrms_box" name="query_num_bdrms">
      </div>

      <div>
        <label for="furniture_amt_box">
          Furniture amt
        </label>

        <input type="text" id="furniture_amt_box" name="query_furniture_amt">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="photos_count_box">
          Photos count
        </label>

        <input type="text" id="photos_count_box" name="query_photos_count">
      </div>

      <div>
        <label for="interested_buyers_count_box">
          Interested buyers count
        </label>

        <input type="text" id="interested_buyers_count_box" name="query_interested_buyers_count">
      </div>

      <button>
        Create apartment
      </button>
    </form>
  </div>
</div>

<% end %>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Price
        </th>

        <th>
          Location
        </th>

        <th>
          Num bath
        </th>

        <th>
          Num bdrms
        </th>

        <th>
          Furniture amt
        </th>

        <th>
          Status
        </th>

        <th>
          Description
        </th>

        <th>
          User
        </th>

        <th>
          Photos count
        </th>

        <th>
          Interested buyers count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_apartments.each do |an_apartment| %>
      <tr>
        <td>
          <%= an_apartment.id %>
        </td>

        <td>
          <%= an_apartment.price %>
        </td>

        <td>
          <%= an_apartment.location %>
        </td>

        <td>
          <%= an_apartment.num_bath %>
        </td>

        <td>
          <%= an_apartment.num_bdrms %>
        </td>

        <td>
          <%= an_apartment.furniture_amt %>
        </td>

        <td>
          <%= an_apartment.status %>
        </td>

        <td>
          <%= an_apartment.description %>
        </td>

        <td>
          <%= an_apartment.user_id %>
        </td>

        <td>
          <%= an_apartment.photos_count %>
        </td>

        <td>
          <%= an_apartment.interested_buyers_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_apartment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_apartment.updated_at) %> ago
        </td>

        <td>
          <a href="/apartments/<%= an_apartment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
