<div>
  <div>
    <h1>
      Apartment @ <%= @the_apartment.location %> 
    </h1>

<%if @current_user != nil %>
<%if @current_user.apt_id == @the_apartment.id %>  
  <h2>
    This is your apartment!
  </h2>
<%end%>
<%end %>

     <img src="<%= Photo.where({ :apt_id=> @the_apartment.id }).first() %>" class="img-responsive">

    <div>
      <div>
        <a href="/apartments">
          Go back
        </a>
      </div>

  <%begin %>
  <% if @current_user.id == @the_apartment.user_id%>
      <div>
        <a href="/delete_apartment/<%= @the_apartment.id %>">
          Delete apartment
        </a>
      </div>
    </div>
  <%end %>
  <%rescue%>
  <%end%>

    <dl>
      <dt>
        Price
      </dt>
      <dd>
        <%= @the_apartment.price %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_apartment.location %>
      </dd>

      <dt>
        Num bath
      </dt>
      <dd>
        <%= @the_apartment.num_bath %>
      </dd>

      <dt>
        Num bdrms
      </dt>
      <dd>
        <%= @the_apartment.num_bdrms %>
      </dd>

      <dt>
        Furniture amt
      </dt>
      <dd>
        <%= @the_apartment.furniture_amt %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_apartment.status %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_apartment.description %>
      </dd>

      <dt>
        Interested buyers count
      </dt>
      <dd>
        <%= @the_apartment.interested_buyers_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_apartment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_apartment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if @current_user != nil%>
<% if @current_user.id == @the_apartment.user_id%>
<div>
  <div>
    <h2>
      Edit apartment
    </h2>

    <form action="/modify_apartment/<%= @the_apartment.id %>"  method="post" >
      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_apartment.price %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_apartment.location %>">
      </div>

      <div>
        <label for="num_bath_box">
            Number Bathrooms
            <select name="query_num_bath" id="num_bath_box">
                <option value="1" <%="selected" if @the_apartment.num_bath == "1"%>>1</option>
                <option value="2" <%="selected" if @the_apartment.num_bath == "2"%>>2</option>
                <option value="3" <%="selected" if @the_apartment.num_bath == "3"%>>3</option>
                <option value="4" <%="selected" if @the_apartment.num_bath == "4"%>>4</option>
                <option value="5" <%="selected" if @the_apartment.num_bath == "5"%>> 5</option>
                <option value="6" <%="selected" if @the_apartment.num_bath == "6"%>>6</option>
                <option value="7" <%="selected" if @the_apartment.num_bath == "7"%>>7</option>
            </select>
        </label>
        
      </div>

      <div>
        <label for="num_bdrms_box">
            Number Bedrooms
            <select name="query_num_bdrms" id="num_bdrms_box">
                <option value="1" <%="selected" if @the_apartment.num_bdrms == "1"%>>1</option>
                <option value="2" <%="selected" if @the_apartment.num_bdrms == "2"%>>2</option>
                <option value="3" <%="selected" if @the_apartment.num_bdrms == "3"%>>3</option>
                <option value="4" <%="selected" if @the_apartment.num_bdrms == "4"%>>4</option>
                <option value="5" <%="selected" if @the_apartment.num_bdrms == "5"%>>5</option>
                <option value="6" <%="selected" if @the_apartment.num_bdrms == "6"%>>6</option>
                <option value="7" <%="selected" if @the_apartment.num_bdrms == "7"%>>7</option>
            </select>
          </label>

      </div>

      <div>
        <label for="furniture_amt_box">
          Amount of Furniture
          <select name="query_furniture_amt" id="furniture_amt_box">
              <option value="fully_furnished" <%="selected" if @the_apartment.furniture_amt == "fully_furnished"%>>Fully Furnished</option>

              <option value="mostly_furnished" <%="selected" if @the_apartment.furniture_amt == "mostly_furnished"%>>Mostly Furnished</option>

              <option value="mostly_unfurnished" <%="selected" if @the_apartment.furniture_amt == "mostly_unfurnished"%>>Mostly Unfurnished</option>

              <option value="unfurnished" <%="selected" if @the_apartment.furniture_amt == "unfurnished"%>>Unfurnished</option>

          </select>
        </label>
      </div>

      <div>
        <label for="status_box">
          Status
            <select name="query_status" id="status_box">
              <option value="Looking for a Tenant" <%="selected" if @the_apartment.status == "Looking for a Tenant"%>>Looking for a Tenant</option>
              <option value="In talks" <%="selected" if @the_apartment.status == "In talks"%>>In talks</option>
              <option value="Passed Down"<%="selected" if @the_apartment.status == "Passed Down"%>>Passed Down</option>
          </select>
        </label>
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_apartment.description %>">
      </div>

      <div>

        <input type="hidden" id="photos_count_box" name="query_photos_count" value="<%= @the_apartment.photos_count %>">
      </div>


      <button>
        Update apartment
      </button>
    </form>
  </div>
</div>
<%end%>
<%end%>

<hr>

<% if !@current_user or @current_user.id != @the_apartment.user_id %>
<div>
  <div>
    <h2>
      Add a new interested buyer
    </h2>

    <form action="/insert_interested_buyer" method="post" >

      <div>
        <input type="hidden" id="apt_id_box" name="query_apt_id" value="<%=@the_apartment.id%>">
      </div>
      <div>


      <div>
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" name="query_email">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="phone_number_box">
          Phone number
        </label>

        <input type="text" id="phone_number_box" name="query_phone_number">
      </div>

      <button>
        Create interested buyer
      </button>
    </form>
  </div>
</div>



<%end%>



<%if @the_apartment.interested_buyers != nil%>
<%if @current_user != nil%>
<%if @current_user.id == @the_apartment.user_id%>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Email
        </th>

        <th>
          Name
        </th>

        <th>
          Phone number
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>


      <% @the_apartment.interested_buyers.each do |an_interested_buyer| %>
      
      <tr>
        <td>
          <%= an_interested_buyer.email %>
        </td>

        <td>
          <%= an_interested_buyer.name %>
        </td>

        <td>
          <%= an_interested_buyer.phone_number %>
        </td>

        <td>
          <%= time_ago_in_words(an_interested_buyer.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_interested_buyer.updated_at) %> ago
        </td>
      </tr>
      <% end %>
    </table>
  </div>
<%end%>
<%end%>
<%end%>

</div>


<hr>
